html, body{
	height: 100%;
}

body{
	margin:0;
	font-size: 15px;
	font-family: sans-serif;
}

.full-screen{
	min-height: 100%;
	box-sizing: border-box;
	background-color: #e3f1f9;
}

.container{
	max-width: 1000px;
	min-width: 320px;
	margin:0 auto;
}

.header{
	background-color: #111a29;
}

.header .container{
	background: url("../img/header-bg.jpg") no-repeat center right;	
    display: table;
    width: 100%;
    height: 17em;
}

.header .context{
	color:white;
	display: table-cell;
	vertical-align: middle;
}

.header p{
	margin: 0;
}

.header .first-line{
	font-size: 235%;
	letter-spacing: 1.66px;
}

.header .second-line{
	color: #a0b2bc;
	font-size: 100%;
	text-transform: uppercase;
	letter-spacing: 0.55px;
	line-height: 214%;
}

.header .third-line{
	font-size: 165%;
    letter-spacing: 1.8px;
}

.registration-step{
	background-color: #bfd4de;
	color: #354654;
    font-size: 148%;
    font-weight: 600;    
    letter-spacing: -0.9px;    
}

.step{
    padding: 1.6% 0 1.6% 5%;
    display: inline-block;
}

.send-form{
	padding-bottom: 80px;
}

.send-form p{
	margin: 0;
	padding: 3% 0 3% 5%;
	font-style: italic;
	font-size: 105%;
}

form.container {
	box-sizing: border-box;
    padding-right: 7%;
    background-color: white;
    margin-bottom: 2%;
    padding-bottom: 2%;
    color: #253949;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.row-form{
	font-size: 0;	
}

.column-form{
	display: inline-block;
	width: 50%;
	text-align: right;
	font-size: 12px;
	margin: 1.5% 0;
}

label{
	max-width: 31%;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 35px;
    margin:0 6% 0 2%;
    box-sizing: border-box;
    font-size: 130%;
}

input, select{
	float: right;
    height: 35px;
    box-sizing: border-box;
    width: 61%;
    font-size: 130%;
    padding-left: 3px;
}

*[required] + label:after {
	color: black;
	content: "*";
}

input[type="submit"]{
	width: 113px;
    height: 36px;
    float: left;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 3%;
    margin-left: 5%;
    text-transform: uppercase;
    font-size: 96%;
}

.footer{
	height: 60px;
	margin-top: -60px;
}

.footer .container{
	display: table;
    width: 100%;
    height: 100%;
}

.footer-content{
	display: table-cell;
	vertical-align: middle;
}

.footer, input[type="submit"]{
	background-color: #364654;
}

.copyright, .links a{
	color: white;
}

.copyright, .links{
	display: inline-block;
}

.links{
	float: right;
	padding-right: 20px;
}

.copyright{
	padding-left: 20px;
}

@media only screen and (max-width : 1000px) {
  .header p{
    padding-left: 60px;
  }
}

@media only screen and (max-width : 768px) {
  .column-form{
    width: 100%;
  }

  form.container {
    padding-right: 35px;
  }

  .header p{
    text-align: center;
    padding-left: 0;
  }
}
@media only screen and (max-width : 617px) {	
  .column-form{
    width: 100%;
  }

  form.container {
    padding-right: 25px;
  }

  body{
    font-size: 12px;
  }
}

@media only screen and (max-width : 480px) {  
.column-form{
    width: 100%;
  }

  form.container {
    padding-right: 5px;
  }

  .copyright, .links{
    display: block;
    margin: 0 auto;
    float: none;
    padding: 0;
    text-align: center;
  }
  
  .header .container{
      background: transparent;
    }
}